<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About Us</h2>
                </div>
            </div>
            <div class="row">
                <h3>How we met</h3>
                <p>
                How we met - Rebecca and Adam met in December 2012, while attending a 'tweetup', or a Twitter Meetup at Hodge's in downtown Cleveland for News Channel 5.  Essentially, they met through friends. Through a series of missed connections, it took almost a month before setting up a first date, but the second, third and fourth followed in quick succession!
                </p>
                <h3>The engagement</h3>
                <p>
                It was October 2016, and the Cleveland Indians were in the playoffs. Adam and Rebecca had a trip to Mexico planned for a week.  All her friends were asking, 'Is he going to propose there? How scenic, how romantic!'.  But Adam had other plans.  The night before their trip, they managed to get standing room tickets to ALCS game 1 against Toronto. Everything seemed to be calm and normal, with the game scoreless through the first five innings. During the 6th, Adam handed Rebecca a gift from the teamshop, she opened the bag, pulled out a jersey with 'Fishman' on the back, as Adam got down on one knee and proposed.  What seemed like only seconds later, Fransico Lindor hit a home run and the whole stadium cheered (We still think it was for us).</p>
            </div>
        </div>
    </section>