<section id="accomodations">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Accomodations</h2>
                    <h3 class="section-subheading text-muted">Join us at the Renaissance Cleveland Hotel</h3>
                </div>

                <div class="col-md-6 col-sm-12 text-center">
                    <a href="http://www.marriott.com/meeting-event-hotels/group-corporate-travel/groupCorp.mi?resLinkData=Minerd/%20Fishman%20Wedding%5Eclebr%60mfmmfma%60129.00%60USD%60false%604%6010/6/17%6010/8/17%609/18/17&app=resvlink&stop_mobi=yes">
                    <img src="img/renaissance.jpg" class="img-responsive">
                    Click here for reservations</a>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="google-maps">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11953.04591958949!2d-81.6944752!3d41.4986081!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x94e8396bc5227630!2sRenaissance+Cleveland+Hotel!5e0!3m2!1sen!2sus!4v1493781095427" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>
                </div>
<!--                 <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <img src="img/logos/themeforest.jpg" class="img-responsive img-centered" alt="">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <img src="img/logos/creative-market.jpg" class="img-responsive img-centered" alt="">
                    </a>
                </div> -->
            </div>
        </div>
    </section>