  <footer>
        <div class="container">
            <div class="row">
                
                <div class="col-md-12">
                    <ul class="list-inline social-buttons">
                        {% for network in site.social %}
                        <li><a href="{{ network.url }}"><i class="fa fa-{{ network.title }}"></i></a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-md-12">
                    <span class="copyright">Questions? Contact <a href="mailto:info@fishmanandwife.com?Subject=Hello">info@fishmanandwife.com</a></span>
                </div>
                <div class="col-md-12">                    
                    <span class="copyright">Copyright &copy; Adam & Rebecca {{ 'now' | date: "%Y" }}</span>
                </div>
            </div>
        </div>
    </footer>
