<!-- Registry Section -->
    <section id="registry">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Registry</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-sm-12 text-center">
                    We are registered at <a href = "https://www.bedbathandbeyond.com:443/store/giftregistry/view_registry_guest.jsp?registryId=544630756&eventType=Wedding&pwsurl=">Bed Bath &amp; Beyond</a> and <a href="https://www.crateandbarrel.com/gift-registry/adam-fishman-and-rebecca-minerd/r5730609">Crate and Barrel</a><br><br>
                    <!-- TODO -->
                    We'd be equally thrilled if you would make a donation in our honor to a local charity of your choice
                    or one we care about in Cleveland such as <a href ="http://www.playhousesquare.org/giving-support-main/giving-support">Playhouse Square</a> or <a href="http://www.greaterclevelandfoodbank.org/give-help/donate-online">Cleveland Food Bank</a>, in lieu of a gift to us.
                </div>
            </div>
        </div>
    </section>
