<!-- About Section -->
<section id="festivities">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Festivities</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12 text-center">
                <h3>Rehearsal Dinner</h3>
                <h3 class="section-subheading">
                    
                    <b>Friday, October 6th at 7pm</b><br/>
                    Rehearsal dinner for out of town relatives and wedding party held at <br/>
                    <a href="https://puravidabybrandt.com">Pura Vida by Brandt Evans</a><br/>
                    170 Euclid Avenue Cleveland, Ohio 44115
                    <br/>
                </h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12 text-center">
                <h3>Ceremony and Reception</h3>
                <h3 class="section-subheading">
                    <b>Saturday, October 7th at 5:30pm</b><br/>
                    Dinner and Dancing to follow<br/>
                    <a href="http://www.marriott.com/hotels/hotel-photos/clebr-renaissance-cleveland-hotel/">Renaissance Cleveland Hotel</a><br/>
                    24 Public Square, Cleveland, OH 44113<br/>
                    <i>Black tie optional</i></h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12 text-center">
                <h3>Brunch</h3>
                <h3 class="section-subheading">
                    <b>Sunday, October 8th at 9-11am</b><br/>
                    For our out of town guests staying downtown, Ken and Teresa Minerd are hosting a brunch at
                    the Renaissance Cleveland Hotel.
                </div>
        </div>
    </div>
</section>